$main-color: #3292B2;
$secondary-color: #F57955;
$additional-color: #D7EAF1;
$hover-color: #5babc5;
$hover-secondary: #ff9679;
$second-additional-color: #FAE1D5;
$white: #FCFCFE;
$secondary-white: #f7fbff;